<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @event.event_id %>
</p>

<p>
  <strong>Denominacao:</strong>
  <%= @event.denominacao %>
</p>

<p>
  <strong>Data inicio:</strong>
  <%= @event.data_inicio %>
</p>

<p>
  <strong>Data final:</strong>
  <%= @event.data_final %>
</p>

<p>
  <strong>Realizacao:</strong>
  <%= @event.realizacao %>
</p>
